body
{
	background-color: pink;
}

a:link, a:visited
{
	color:green;
	background-color: lightblue;
	text-decoration: none;
	padding: 16px;
	text-align: center;
	display: inline-block;
    font-family: verdana;
}



a:hover
{
	color:red;
	background-color: yellow;
	text-decoration: underline;
}

a:active
{
    color: green;
    background-color: yellow;
    text-decoration: underline;
}